* {
  cursor: default;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

:root {
  --Dark Blue (intro and email sign up background): hsl(217, 28%, 15%);
  --Dark Blue (main background): hsl(218, 28%, 13%);
  --Dark Blue (footer background): hsl(216, 53%, 9%);
  --Dark Blue (testimonials background): hsl(219, 30%, 18%);
  --Cyan: hsl(176, 68%, 64%);
  --Blue: hsl(198, 60%, 50%);
  --Light: hsl(0, 100%, 63%);
  --White: hsl(0, 0%, 100%)
}

@font-face {
  font-family: Raleway;
  src: url(assets/fonts/Raleway-VariableFont_wght.ttf);
}

@font-face {
  font-family: ;
  src: url(assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}

body {
  background-color: #121c2a;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-family: Open Sans, sans-serif;
  height: 100vh;
  text-align: center;
  font-family: Raleway;
}

.header {
  align-items: center;
  background-color: hsl(218, 28%, 13%);
  display: flex;
  font-family: Raleway, sans-serif;
  font-size: 14px;
  justify-content: space-between;
  padding: 80px 80px;
}

.header-logo-content {
  height: 52px;
  width: 176px;
}

.navigation-link {
  display: flex;
  gap: 50px;
  color: var(--White);
  text-decoration: none;
  cursor: pointer;
}

.nav-link {
  padding-bottom: 12px;
  position: relative;
  color: var(--White);

}

.a {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.introduction {
  background-color: var(hsl(218, 28%, 13%));
  align-items: center;
  display: flex;
  flex-direction: column;

  position: relative;

}

.introduction-title {
  font-family: Raleway, sans-serif;
  font-size: 40px;
  line-height: 60px;
  margin-top: 30px;
  max-width: 50%;
  text-align: center;

}

.introduction-img {
  height: 530px;
  width: 730px;
}

.introduction-title {
  text-align: center;
  font-family: Raleway, sans-serif;
  font-size: 40px;
  max-width: 50%;
  margin-top: 30px;
  line-height: 60px;
}

.introduction-descripyion {
  text-align: center;
  line-height: 28px;
  margin-bottom: 30px;
  margin-top: 20px;
  width: 33%;
}

.first-button {
  background: linear-gradient(90deg, #65e2d9, #339ecc);
  border: none;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  height: 50px;
  width: 240px;
}

.curvy-img {
  height: 400px;
  width: 100%;
  margin-top: -20%;

}

.applications {
  grid-row-gap: 50px;
  grid-column-gap: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: auto;
  position: relative;
  width: 62%;
  padding-top: 50px;
  background-color: var(hsl(220, 18%, 10%));
}

.access-img {
  height: 80px;
  width: 80px;
}

.access-title {
  font-family: Raleway, sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.Security-img {
  height: 80px;
  width: 80px;
}

.Security-title {
  font-family: Raleway, sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.Collaboration-img {
  height: 80px;
  width: 80px;
}

.Collaboration-title {
  font-family: Raleway, sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.File-type-img {
  height: 80px;
  width: 80px;
}

.File-type-title {
  font-family: Raleway, sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.Productive {
  align-items: center;
  display: flex;
  gap: 60px;
  justify-content: space-evenly;
  margin: 180px 90px 0;
  margin-bottom: 100px;
}

.prdc {
  display: flex;
  flex-direction: column;
}

.Productive-img {
  height: 465px;
  width: 615px;
}

.Productive-title {
  width: 80%;
  margin-bottom: 20px;
  font-family: Raleway, sans-serif;
  font-size: 40px;
  text-align: left;
}

.Productive-text {
  line-height: 25px;
  width: 64%;
  text-align: left;
}

.productive-link {
  cursor: pointer;
  padding-top: 5%;
  text-align: left;
  position: relative;
  color: #65e2d9;
}

.bg-quotes {
  margin-left: -91%;
  margin-bottom: -1%;
}


.comments {
  display: flex;
  justify-content: space-evenly;
  position: relative;
}

.founder-1 {
  background:
    #1c2431;
  border-radius:
    5px;
  box-shadow: 4px 4px 12px -2px #10151e;
  display: flex;
  flex-direction: column;
  padding:
    35px 20px 25px;
  width: 26%;
}

.founder-2 {
  background:
    #1c2431;
  border-radius:
    5px;
  box-shadow: 4px 4px 12px -2px #10151e;
  display: flex;
  flex-direction: column;
  padding:
    35px 20px 25px;
  width: 26%;
}

.founder-3 {
  background:
    #1c2431;
  border-radius:
    5px;
  box-shadow: 4px 4px 12px -2px #10151e;
  display: flex;
  flex-direction: column;
  padding:
    35px 20px 25px;
  width: 26%;
}

.profile_comment {
  color: hsla(0, 0%, 100%, .795);
  font-family: Raleway, sans-serif;
  font-size: 13.5px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 20px;
}

.profile {
  display: flex;
  margin-top: 25px;
}

.profile-img {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.profile-text {
  display: flex;
  flex-direction: column;
  margin-left: 7px;

  text-align: left;
}

.footer {
  background: #121c2a;
  height: 425px;
  padding: 0 90px;
}

.form-footer {
  margin-top: 100px;
  padding: 20px;
  margin-left: 10%;
  box-shadow: 4px 4px 12px -2px #10151e;
  background: #1c2431;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  font-family: Raleway, sans-serif;
  height: 200px;
  justify-content: center;
  align-items: center;
  width: 80%;

}

.form-title {
  font-size: 36px;
  margin-top: 15px;
  margin-bottom: 25px;
}

.form-text {
  text-align: center;
  width: 80%;
}

.form-content {
  margin-top: 20px;
  height: 150px;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 10px;
}

.form-input {
  border: none;
  border-radius: 30px;
  padding-left: 5%;
  height: 100%;
  width: 58%;
  cursor: text;
}

.form-button {
  background: linear-gradient(90deg, #65e2d9, #339ecc);
  border: none;
  border-radius: 30px;
  color: #fff;
  width: 33%;
  height: 100%;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  margin: 10px 5px;


}

.footer-logo {
  height: 50%;
  width: 50%;
  align-items: end;

}

.umg {
  margin-left: -66%;
  margin-top: 14%;
}

.information {
  display: flex;
  justify-content: space-between;
  background-color: #121c2a;
}

.location {
  display: flex;
  max-width: 30%;
}

.location-text {
  font-size: 18px;
  text-align: left;
  margin-left: 3%;
}

.contact-phone {
  display: flex;
}

.contact-mail {
  display: flex;
}

.contact-text {
  margin-left: 20px;
  font-size: 20px;
}

.infos-links-left {
  cursor: pointer;

}

.info-links-right {
  cursor: pointer;
}

.info-links {
  display: flex;
}