*{
    box-sizing: border-box;
}
.calculator{
    font-family: "Poppons",sans-serif;
    font-weight: 700;
    color: #040404;
    font-size: 32px;
    line-height: 1.2;
    background-color: hsl(0, 0, 86%);
    width: 100vw;
    min-width: 100vh;
    padding: 30px;
}

@media(max-width:520px){
    .calculator{
        padding: 30px 15px;
    }
}

.calculator_container{
    background-color: hsl(0, 0, 86%);
    width: 60%;
    max-width: 650px;
    min-width: 470px;
    border-radius: 35px;
    border-bottom-right-radius: 175px;
    padding: 40px;
    margin: 0 auto;
}

@media (max-width:520px){
    .calculator_container{
        width: 100%;
        min-width: 300px;
        padding: 40px 20px;
    }
}

.calculator_user-input{
    max-width: 100%;
    color: hsl(0, 1%, 44%);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    -moz-column-gap: 20px;
    column-gap: 20px;
    padding-bottom: 35px;
    border-bottom: 1px solid hsl(0, 0%, 86%);
    position: relative;
    margin-bottom: 50px;
}

@media (max-width:520px){
    .calculator_user-input{
        padding-bottom: 50px;
        margin-bottom: 35px;
        grid-template-columns: repeat(3,1fr);
    }
} 
 
.calculator_user-input-btn{
    position: absolute;
    right: 0;
    bottom: -33px;
    width: 66px;
    height: 66px;
    background-color: hsl(259,100%,65%);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.15s;
    transition: background-color 0.4s;
    scale: 1;
}

.calculator_user-input-btn:active{
    scale: 0.95;
    filter: drop-shadow(0 0 0.3rem  hsl(0, 1%,44%));
}

@media(hover: hover){
    .calculator_user-input-btn:hover {
        background-color: hsl(0, 0%, 8%);
    }
}

.calculator_user-input-btn:after{
    content:"" ;
    background-image: url(../images/icon-arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 55%;
    height: 55%;
}

@media(max-width:520px){
    .calculator_user-input-btn{
       right: 50%;
       margin-right: -29px;
       bottom: -29px;
       width: 58px;
       height: 58%;
    }
}

@media( max-width:380px){
    .calculator_user-input-btn{
        right: 50%;
       margin-right: -26px;
       bottom: -26px;
       width: 52px;
       height: 52%;
    }
}

.input-blok{
    min-width: 90px;
}

@media(max-width:380px){
    .input-blok{
        min-width: 70px;
    }  
}

.input-blok_text{
    font-size: 0.7rem;
    font-weight: 500;
    margin-bottom: 8px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
}

.input-blok_input{
    font-size: 1.5rem;
    height: 2.5rem;
    width: 100%;
    border: 1px solid hsl(359, 10%, 50%);
    border-radius: 5px;
    font-weight: 700;
    padding-left: 15px;
    caret-color: hsl(259, 100%, 65%);
    margin-bottom: 6px;
}

.input-blok_input:focus{
    outline:none;
    border: 1px solid hsl(259, 100%, 65%);
}

@media(max-width:380px){
    .input-blok_input{
        font-size: 1.35rem;
        padding-left: 10px;
    }
}

.input-blok_text-error{
    font-size: 0.6rem;
    color: hsl(0, 100%, 67%);
    font-weight: 400;
    font-style: italic;
    position: absolute;
    opacity: 0;
}

@media(max-width:380px){
    .input-blok_text-error{
        max-width: 90px;
    }
}

.error.input-blok_text{
    color: hsl(0, 100%, 67%);
}

.error.input-blok_input{
    border: 1px solid hsl(0, 100%, 67%);
}

.error.input-blok_input:focus{
    border: ipx solid hsl(0, 100%, 67%);
}

.error.input-blok_text-error{
    opacity: 1;
}

.output{
    display:flex;
    flex-direction: column;
    font-weight: 800;
    font-size: 4rem;
    font-style: italic;
}

@media(max-width:520px){
    .output{
        font-size: 3rem;
    }
}

@media(max-width:380px){
    .output{
        font-size: 2.7rem;
    }
}

.output_text span{
    color: hsl(259, 100%, 65%);
    margin-right: 8px;
}

.attribution{
    background-color: hsl(0, 0%, 86%);
    display: flex;
    flex-direction: column;
    align-items: center;
}













